<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>abhajyothi home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="main.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
       <nav class="navbar navbar-inverse" >
           <a href="/home" class="navbar-brand"> Abhayajyothi </a>
            <ul class="nav navbar-nav">
               <li><a href="/"> Home </a></li>
               <li><a href="/about"> About </a></li>
               <li><a href="/home"> Events </a></li>
               <li><a href="/"> Donations </a></li>
               <li><a href="/contact"> Contact </a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN CONTENT HERE -->
 
   <%- defineContent('hero') %>
    <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
					<div class="span3">
						<h4>Address</h4>
						<ul class="unstyled address">
							<li>
                                <i class="glyphicon glyphicon-home"></i> #1/76,
                                Besides SUb-Post Office,
                                Prashanthnagar ,
                                Medak Road,  SIDDIPET, Dist,<br>
                                PIN - 502372. Telangana. INDIA.
							</li>
						</ul>
					</div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <h4>Mail</h4>
					<ul class="list-unstyled address">
						<li>
                            <i class="glyphicon glyphicon-envelope"></i>
							support@abhayajyothi.com<br>
							abhayajyothi@gmail.com
						</li>
						<li>
							<i class="glyphicon glyphicon-globe"></i>
							 www.abhayajyothi.com
						</li>
					</ul>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
					<h4>Contact</h4>
					<ul class="unstyled address">
						<li>
							<i class="glyphicon glyphicon-earphone"></i>
							<italic>More info:</italic> <a href="https://www.facebook.com" target="_blank">mobile (name)</a>, <br><a href="https://www.facebook.com/" target="_blank">mobile (name)</a>
						</li>
						<li>
							<i class="glyphicon glyphicon-phone"></i>
							<italic>Techincal issues:</italic> 0000000000
						</li>
					</ul>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
					<h4>Sponsor & Developer</h4>
					<ul class="unstyled address">
						<li>
							<i class="glyphicon glyphicon-heart"></i>
							<italic>JOJI DASARIPALLA</italic><br>
							&nbsp;&nbsp;<italic>************</italic>
						</li>
						<li>
							<i class="glyphicon glyphicon-cog">&nbsp;</i>
							<italic>*************</italic>
						</li>
					</ul>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->
    <footer>
        © 2018 Abhayajyothi. All Rights Reserved.
    </footer>
    
    </body>
    </html>